.single-ticket {
  background-color: #fff;
  padding: 2rem;
  border:var(--text-color) solid 1px;
  border-radius: 5px;
}

.ticket-description {
  margin-bottom: 20px;
  color: gray;
  font-size: 0.9rem;
  line-height: 1.4rem;
}


.ticket-action {
 margin-top: 30px;
 margin-bottom: 0;
}

.ticket-action-help {
  
  font-style: italic;
  border-radius: 5px;
  font-size: 0.9rem;
}

.ticket-action-help a {
  color: var(--text-color);
}

.ticket-action-help h4 {
  margin:0;
  margin-block-end: 10px;
  font-size: 1rem;
}

.ticket-action .btn {
  margin-left: 10px;
}

.ticket-action span {margin-right: 5px;}
.ticket-action p {margin: 0;}


.ticket-action span {
  font-size: 0.8rem;
  display: block;
}
.ticket-action button {
  margin-top: 10px;
}